.couple_container {
  margin-top: 130px;
}

.couple_story {
  font-family: "Alex Brush", cursive;
  text-align: center;
  font-size: 50px;
  text-transform: capitalize;
  font-weight: 600;
  color: #333;
}

.flower {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.couple_para {
  font-size: 15px;
  line-height: 24px;
  text-transform: none;
  letter-spacing: 0px;
  font-weight: 400;
  color: #808080;

  padding: 20px 260px;
  text-align: center;
  font-family: "raleway", sans-serif;
  margin-bottom: 30px;
}

.couple_solo_img_section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  padding: 0px 100px;
}

.solo_img_card2 {
  border-radius: 5px;
  height: 80vh;
  background-color: transparent;
  overflow: hidden;
}

.solo_img_card .hover_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: translateZ(0);
  transition: transform 2.5s ease-out;
}

.solo_img_card2:hover .hover_img {
  transform: scale(1.2);
}

.plus-icon {
  background-color: #292929;
}

.solo_name {
  text-align: center;
  font-size: 18px;
  color: #333;
  font-family: "poppins", sans-serif;
  text-transform: capitalize;
  margin-top: 25px;
}

.icon_set {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #333;
  opacity: 80%;

  margin-bottom: 40px;
}

.ico {
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .couple_story {
    font-size: 39px;
    color: #333;
    opacity: 90%;
  }
}
