.scroller {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.scroller.show {
  opacity: 1;
  cursor: pointer;
  transform: rotate(0);
}

.scroller_btn {
  width: 50px;
  height: 50px;
  border: 2px solid pink;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toparrow {
  background-color: #f0eded;
  padding: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: rgb(218, 121, 137);
}
