@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display:ital,wght@1,400;1,500;1,800&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
.event_container {
  background-color: #f0eded;

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  position: relative;
}

.event_detail_container {
}
.event_bottom {
  position: absolute;
  bottom: -150;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event_bottom img {
  /* width:40%; */
}

.evnt_date {
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}
.event_para {
  color: #292929;
  opacity: 80%;
  font-family: "poppins", sans-serif;

  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}

.event_para1 {
  color: #292929;
  opacity: 80%;
  font-family: "raleway", sans-serif;
  font-size: 35px;
  margin-bottom: 10px;
  font-weight: 800;
}

@media screen and (max-width: 650px) {
  .event_para1 {
    font-size: 22px;
  }

  .event_para {
    font-size: 15px;
  }
}

@media screen and (max-width: 600px) {
  .event_container {
    padding: 50px;
  }
  .couple_story {
    font-size: 40px;
    font-weight: 500;
  }
}
@media screen and (max-width: 585px) {
  .event_bottom img {
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .couple_story {
    font-size: 37px;
  }
}
