@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&family=Playfair+Display:ital,wght@1,400;1,500;1,800&family=Poppins:wght@200;300;400;500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap");
.event_container {
  background-color: #f7f7f7;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
  position: relative;
}
.event_bottom {
  position: absolute;
  bottom: -100px;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.evnt_date {
  font-family: "Alex Brush", cursive;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
}
.event_para {
  color: #292929;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
}
