.gallery_grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 100px;
  margin-bottom: 50px;
}

.gallery_sub {
  width: 100%;
  height: 50vh;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cu {
  height: 100%;
  width: 100%;
  object-fit: cover;
  background-position: center;
  background-size: auto;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  -moz-transition: opacity 1s ease;
  -ms-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
}

.gallery_sub:hover .image-overlay {
  opacity: 1;
}

.plus-icon {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
}
