.gallery_grid {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 70px;
  margin-bottom: 30px;
}

.gallery_sub {
  width: 100%;
  height: 50vh;
  cursor: pointer;
}

.cu {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
