.slder {
  overflow: hidden;
  background-color: transparent; /* Set background color to transparent */
  box-shadow: none;
  height: 100vh;

  /* width: 100%; */
  position: relative;
}

.naver {
  top: 0;
}

.nav {
  position: absolute;
  height: 70px;
  top: 0;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  padding: 0px 70px;
  align-items: center;
  width: 100%;
}

/* sticky nav */

.slder.sticky .nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: all 1s ease-in;
  -webkit-transition: all 1s ease-in;
  -moz-transition: all 1s ease-in;
  -ms-transition: all 1s ease-in;
  -o-transition: all 1s ease-in;
}

.slder.sticky .nav_ul {
  color: #333;
}
.slder.sticky .hearted {
  color: #333;
}

/* Add styles for the non-sticky navbar */

.hearted {
  font-size: 15px;
  /* color: #ddd; */
  color: #f5ebeb;
}

.nav_left {
  display: flex;
  align-items: center;
}
.nav_title {
  font-family: "Alex Brush", cursive;
  color: #fff;
  /* font-family: "Playfair Display", serif; */
  font-size: 30px;
  display: flex;
  align-items: center;
}

.slder.sticky .nav_title {
  /* font-weight: 500; */
  opacity: 80%;
  color: #333;
}

.nav_right {
  display: flex;
  align-items: center;
}

.nav_ul {
  display: flex;
  gap: 30px;
  align-items: center;
  color: #fff;
  
}

.nav_li {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  cursor: pointer;
  gap: 5px;
  font-family: "poppins", sans-serif;
  font-weight: 500;
  border-bottom: 1px solid transparent;

  font-size: 14.9px;
  text-transform: uppercase;
}

.nav_li:hover {
  border-bottom: 1px solid #ddd;
  transition: border-bottom 3s ease;
  -webkit-transition: border-bottom 3s ease;
  -moz-transition: border-bottom 3s ease;
  -ms-transition: border-bottom 3s ease;
  -o-transition: border-bottom 3s ease;
}
.slide-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.slde_setting {
}

.for {
  font-size: 40px;
  border-radius: 50%;
  color: #b1aeae;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 5px;
}

.slide-container {
  position: relative;
}

.cursor {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  left: 0;
}
.boss {
  width: 100px;
  font-size: 50px;
  color: teal;
  cursor: pointer;
}

.deta {
  position: absolute;
  top: 0;
  color: #fff;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.deta img {
  width: 13%;
  object-fit: cover;
  margin: 0px 0;
  text-shadow: 0 0 60px rgba(0, 0, 0, 0.8);
}

.deta_title {
  margin: 10px 0 0px 0;
  font-size: 25px;
  line-height: 15px;
  text-shadow: 0 0 60px rgba(0, 0, 0, 0.8);

  font-weight: 600;
  /* font-family: "Playfair Display", serif; */
  font-style: italic;
  visibility: inherit;
}

.deta_name {
  font-family: "Playfair Display", serif;
  text-shadow: 0 0 60px rgba(0, 0, 0, 0.9);
  font-size: 74px;
  font-weight: 500;
  line-height: 100px;

  color: #fff;
}
.slide-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;

  background: linear-gradient(to top, rgba(32, 32, 32, 0) -2%, #242323 260.17%);
}
