.rsvp {
  background-image: url("https://i.imgur.com/o0ReSrJ.png");
  height: auto;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-top: -100px;
}

.form_container {
  padding-top: 280px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rsvp_form {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  padding: 110px 40px;
  margin: 0px auto;
  /* padding-top: 250px; */
  width: 60%;
}

.form_grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form_sub_grid {
  width: 100%;
}

.form_sub_grid:nth-child(3) {
  grid-column: 1/3;
}
.form_sub_grid:nth-child(6) {
  grid-column: 1/3;
}

.form_input {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  height: 45px;
  border-radius: 3px;
  outline: none;
}

.form_input2 {
  width: 100%;
  border: 1px solid #ddd;
  padding: 10px;
  height: 205px;
  border-radius: 3px;
  outline: none;
}

.form_input2::placeholder {
  font-family: "poppins", sans-serif;
  font-size: 15px;
}

.form_input::placeholder {
  text-transform: capitalize;
  font-family: "poppins", sans-serif;
  font-size: 15px;
}

.submit {
  background-color: #333;
  color: #fff;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  border: none;
  padding: 10px 20px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  cursor: pointer;
}

select {
  /* appearance: none; */
  outline: 0;

  background-image: none;
  width: 100%;
  height: 100%;
  color: #5e5b5b;
  font-family: "poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
  border-radius: 3px;
}

.select {
  position: relative;
  display: block;
  line-height: 3;
  overflow: hidden;
  border-radius: 0.25em;
  padding-bottom: 10px;
}
.opt:hover {
  background-color: rgb(207, 207, 205);
}
