.gift_container {
  padding: 70px 0px;
}

.gift_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 100px;
}

.gift_sub {
  /* height: 50vh; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeebeb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.gift_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #c5c4c4;
  margin-top: 30px;
}

.gift_title {
  font-family: "Alex Brush", cursive;
  color: #333;
  font-size: 30px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.gift_title2 {
  font-family: "raleway", serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
