.gift_container {
  padding: 70px 0px;
}

.gift_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 50px 100px;
}

.gift_sub {
  /* height: 50vh; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  align-items: center;
  justify-content: center;
  border: 1px solid #eeebeb;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.gift_img {
  padding: 20px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 1px solid #c5c4c4;
  margin-top: 30px;
}

.gift_title {
  font-family: "Alex Brush", cursive;
  color: #333;
  font-size: 30px;
  margin-right: 5px;
  text-align: center;
  margin-bottom: 10px;
}

.gift_title2 {
  font-family: "raleway", serif;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
}
@media screen and (max-width: 1070px) {
  .gift_grid {
    padding: 50px;
  }
}

@media screen and (max-width: 958px) {
  .gift_grid {
    padding: 50px;
    overflow-y: scroll;
  }
}
@media screen and (max-width: 681px) {
  .gift_grid {
    padding: 30px;

    overflow-y: scroll;
    /* overflow: hidden; */
    /* overflow-x: hidden; */
    /* overflow-x: hidden; */
  }
  .gift_sub{
    width: 260px;
  }
  .gift_img {
    width: 160px;
    height: 160px;
    /* border: 1px solid #eeebeb; */
  }
  .gift_title {
    font-size: 25px;
  }
}
