.music-player {
  position: fixed;
  bottom: 0;
  padding: 10px;
}

.music_btn {
  border: 2px dotted #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.de {
  color: #ddd;
  cursor: pointer;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}
