.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 40px;
  font-family: "poppins", sans-serif;
  gap: 40px;
  margin-bottom: 60px;
}

.card_time {
  padding: 50px;
  color: #292929;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #e4e2e2;
}
.card_time h1 {
  color: #70a076;
  font-size: 28px;
}

@media screen and (max-width: 770px) {
  .card_container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card_time:nth-child(4) {
    grid-column: 2/3;
  }
}
@media screen and (max-width: 600px) {
  .card_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
    gap: 20px;
  }
  .card_time {
    padding: 40px;
  }
}

@media screen and (max-width: 500px) {
  .card_container {
    gap: 15px;
  }
}
