.card_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  margin-top: 40px;
  font-family: "poppins", sans-serif;
  gap: 40px;
  margin-bottom: 60px;
}

.card_time {
  padding: 40px;
  color: #292929;

  border-radius: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.card_time h1 {
  color: #70a076;
  font-size: 28px;
}
